*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* fonts 

  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;


*/
body{
    width: 100%;
    height: 100vh;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

main{
    width: 100%;
background-color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

















































































/* LOGIN */


.content{

    background-color: white;
    width: 55%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px  10px 5px rgba(211, 211, 211, 0.338);

}
.inputs{
  display: grid;
  grid-template-columns: 1fr ;
  justify-items: center;
}
h3{
    font-size:1.5rem;
    padding-right: 10px;
    padding-bottom: 10px ;
    padding-top: 20px;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    text-transform: uppercase;

   color: #000000;
}

span{
    color: red;
    padding-right: 5px;
}
input{
    outline: none;
    padding: 7px;
    border: 1px solid rgba(229, 227, 227, 0.553);
    box-shadow: 0px 0px 5px 3px rgba(220, 218, 218, 0.155);
    border-radius: 5px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
  
}


.label1{

    display: grid;
grid-template-columns: 1fr 1fr;
    width:35rem;
gap: 16px;

    justify-content: space-between;
}
.label1 input{
    width: 17rem !important;
}

.content input{
    width: 35rem;
  
}
p{
    padding-bottom: 10px;
    padding-top: 10px;
font-size: 12px;
  }


/* label:nth-child(6){
   
padding-left: 25px;
padding: 10px;
font-size: 11px !important;

    display: flex;
    align-items: center;
   background-color: #4285f4;
     gap: 10px;

     width: 35rem;
} */
.checkboxC{
  display: flex;
  align-items: center;
  gap: 10px;

  width: 35rem;
  padding: 10px;
 }
 .checkboxC input{
  width: 15px !important;
 }
.error{
  font-size: 10px;
  
}


/* label{
 
} */
/* FOR CHECKBOX */


/* From Uiverse.io by mrhyddenn */ 
/* From Uiverse.io by mrhyddenn */ 
.check {
  
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -8.5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.046);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    stroke: #4285f4;
  }
  
  #cbx:checked + .check svg {
    stroke: #4285f4;
  }
  
  #cbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
  /* inout */
   

  .btnLogin{
    padding: 7px 0px;
    width:35rem;
  
   background-color: rgba(9, 9, 224, 0.744);
border: none;  
margin-bottom: 20px;
border-radius: 5px;
color: white; 
transition: 0.4s;
font-family: "Poppins", serif;
font-weight: 400;
font-style: normal;
font-size: 13px;
}

.btnLogin:hover{

   background-color: rgb(0, 0, 177);

}



.if-add-info-not-exact{
    border: solid 1.5px rgba(255, 0, 0, 0.553);
}
label:nth-child(4){
 position: relative;
}
/*
.lvls{
  width: 170px;
  height: 70px;
background-color: rgb(255, 255, 255);
border-radius: 5px;
text-align: center;
box-shadow: 0px 0px 5px 3px rgba(220, 218, 218, 0.155);

  position: absolute;
 left:  50%;
  top: 50%;
transform: translate(-50%,-50%);

  padding: 10px;
}
.lvls p{
  font-size: 10px;
  color: rgb(171, 171, 171);

}
.lvls .lvlP:nth-child(1){
  background-color: yellow;
  height: 5px;
width: 25px;
}
.lvls .lvlP:nth-child(2){
  background-color: rgb(255, 174, 0);
  height: 5px;
width: 25px;
}
.lvls .lvlP:nth-child(3){
  background-color: rgb(21, 255, 0);
  height: 5px;
width: 25px;
} */


.hidden{
  display: none;
}

.message {
  opacity: 0; /* يبدأ النص مخفيًا */
  color: green;
  font-size: 16px;
  animation: fadeInOut 5s ease-in-out forwards; /* تطبيق التحريك */
}

/* تعريف التحريك */
@keyframes fadeInOut {
  0% {
      opacity: 0; /* النص مخفي */
  }
  20% {
      opacity: 1; /* النص يظهر */
  }
  80% {
      opacity: 1; /* النص يظل ظاهرًا */
  }
  100% {
      opacity: 0; /* النص يختفي */
  }
}

.codes{
  font-size: 10px;
  padding-left: 20px;
  color: rgba(255, 0, 0, 0.795);
}

